body {
    background-image: url("https://media.istockphoto.com/id/1752927325/photo/lord-shiva-statue-on-the-banks-of-the-sacred-ganges-river-in-rishikesh-india.jpg?s=612x612&w=0&k=20&c=pcO82gl0g3hPejL6pf9X4HhOJ7wwlnmoyxIsQu3aNpc=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.title{
    color: red;
}